@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #303030;
    color: #FFFFFF;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header h1{
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 600;
    margin-left: 5%;
}
header p{
    font-size: 20px;
    font-weight: 500;
    margin-left: 5%;
}

#infos{
    background-color: #F9F9F9;
    ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.info{
    margin: 60px;
}
#sobre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#texto-sobre{
    margin-right: 65px;
}
#imagem{
    width: 311px;
    height: 511px;
}
footer{
    background-color: #303030;
    color: #FFFFFF;
    text-align: center;
}
footer h3{
    font-weight: 700;
    font-size: 32px;
    padding-top: 35px;
    padding-bottom: 20px;
}
input{
    width: 254px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}
button{
    margin-bottom: 25px;
    width: 154px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #C07212;
    color: #F9F9F9;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background-color: #ec9832;
    transform: translateY(-5px);
    transition: 0.4s;
}
footer p{
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 3px;
}
footer span{
    font-weight: 700;
}
/* Responsivudade */

@media (max-width: 650px){
    .info{
        margin: 40px;
    }
    #texto-sobre{
        text-align: center;
        margin: 5px 10px;
    }
}
